.columns-title {
  display: flex;
  align-items: center;

  height: 16px;

  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--light-usage-text-color-text-3, rgb(28 29 35 / 35%));
  letter-spacing: 0.12px;
}
