.description {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--Fg-COZ-fg-secondary, rgba(6, 7, 9, 50%));
}

.checkbox-small{
  :global{
    .semi-checkbox-inner{
      width: 14px;;
    }

    .semi-checkbox-inner-display{
      width: 14px;
      height: 14px;
      line-height: 18px;
    }

    .semi-icon-checkbox_tick{
      font-size: 14px;
    }
  }
}

.lable-wrapper{
  &>svg{
    width: 12px;
    height: 12px;
  }
}
