.container {
  .icon {
    color: #4d53e8;

    &>svg {
      color: #4d53e8;
    }
  }
}

.disabled {
  .icon {
    color: var(--light-usage-disabled-color-disabled-text, rgb(28 31 35 / 35%));

    &>svg {
      color: var(--light-usage-disabled-color-disabled-text, rgb(28 31 35 / 35%));
    }
  }
}
