.uiBanner {
  margin: 8px 16px;
  padding: 12px 24px;

  :global {
    .semi-banner-extra {
      position: absolute;
      top: 22px;
      right: 56px;
      margin-top: 0;
      z-index: 10;
    }

    .semi-banner-content {
      display: flex;
      align-items: center;
    }

    .semi-banner-icon {
      margin-right: 16px;
    }
  }
}
